

body, div, p,img
   {
    font: 400 20px/22px Roboto,sans-serif;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
    -webkit-touch-callout:none; /* リンク長押しのポップアップを無効化
    }



button {
    display: inline-block;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width:80px;

}
button[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}


.btn_all {

text-align: center;

}


.jyanken
{
display:block;
width:100px;
margin: 25px 0px;
margin-left: auto;
margin-right: auto;
pointer-events: none;
z-index: 100;
}

.jyanken_all
{
margin-left: auto;
margin-right: auto;
width:200px;
}

#janken_order_container
{
width:100px;
height:100px;
}

.order
{
display:block;
width:100px;
margin:5px 25px;
text-align: center;
}

#order_comment
{
display:block;
width:200px;
margin:10px 0px;
text-align: center;
}

.order_all
{
margin:30px 0px;
width:200px;
height:100px;
}


.red
{
transition: filter 0s;
}

.green
{
transition: filter 0s;
}


.red:active  {
	filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
    -webkit-filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}

.green:active  {
	filter: invert(17%) sepia(91%) saturate(7085%) hue-rotate(128deg) brightness(100%) contrast(106%);
    -webkit-filter: invert(17%) sepia(91%) saturate(7085%) hue-rotate(128deg) brightness(100%) contrast(106%);
}

.blue:active  {
	filter: invert(8%) sepia(99%) saturate(7044%) hue-rotate(247deg) brightness(100%) contrast(145%);
   -webkit-filter: invert(8%) sepia(99%) saturate(7044%) hue-rotate(247deg) brightness(100%) contrast(145%);
}